# LLM/OpenRouter
LLM_API_KEY=sk-xxxxxxxx
LLM_MODEL="openai/gpt-oss-20b:free"
LLM_BASE_URL="https://openrouter.ai/api/v1"

# Langfuse observability
LANGFUSE_SECRET_KEY = "sk-xxxxxxxxxxxxx"
LANGFUSE_PUBLIC_KEY = "pk-xxxxxxxxxxxxx"
LANGFUSE_BASE_URL = "https://cloud.langfuse.com"